# Include the top-level documentation and license files
include README.md
include LICENSE.txt
include CONTRIBUTING.md

# Include all files under the coconet/resources directory
recursive-include coconet/resources *

# Stuff for Vehicle
recursive-include vehicle_editor *.json